<!-- Browse Main Sections -->
<div id="nepaMainSections" class="row">
  <div class="col-md-4">
    <h2>NEPA Documents</h2>
    <p>Maps used to represent past/present NEPA Projects, which are uploaded with metadata like name, type/technology, keywords, descriptions, Links, authors, etc.. These maps are then searchable by that metadata together with the !exact! location.</p>
<p><%= link_to "NEPA Documents", url_for(:controller => 'nepa_documents', :action => 'index'), :class => "btn btn-default", :role => "button" %></p>
  </div>
  <div class="col-md-4">
    <h2>NEPA Reference</h2>
    <p>Maps used to represent a ... Resource, Maps used to represent a ... Resource, Maps used to represent a ... Resource, Maps used to represent a ... Resource, Maps used to represent a ... Resource, </p>
<p><a class="btn btn-default" href="#" role="button">Browse Reference</a></p>
  </div>
  <div class="col-md-4">
    <h2>Maps</h2>
    <p>Upload a Map. Upload a Map. Upload a Map. Upload a Map. Upload a Map. Upload a Map. Upload a Map. Upload a Map. Upload a Map. Upload a Map. Upload a Map.</p><p><%= link_to "Browse Maps", url_for(:controller => 'maps', :action => 'index'), :class => "btn btn-default", :role => "button" %></p>
  </div>
</div>


<%= render :partial => 'shared/search' -%>


<div id="map_list">

  <% if @my_maps && @my_maps.length > 0 -%>
    <h3>My Maps</h3>
    <table class="table">
    <thead>
        <tr>
          <th>Map</th>
          <th>Title</th>
          <th>Last modified</th>
          <th>Status</th>
        </tr>
      </thead>
        <%= render :partial => 'maps/map', :collection => @my_maps  unless @my_maps.nil? %>
    </table>
    <%= link_to "See all of My Maps", my_maps_path(:user_id => current_user), :class => "btn btn-default", :role => "button" %>
  <%end -%>

  <h3>Recently Rectified Maps</h3>
  <table class="table">
      <thead>
        <tr>
          <th>Map</th>
          <th>Title</th>
          <th>Last modified</th>
          <th>Status</th>
        </tr>
      </thead>
    <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
  </table>
  <%= link_to 'Browse all Maps', maps_path, :class => "btn btn-default", :role => "button" %>
</div>
