<% map = @map %>

<%
  # do we really need to display the thumbnail?  the full sized map is displayed below
  #=  image_tag(map.upload.url(:thumb))
%>

<h2><%=strip_brackets(h(map.title)) %></h2>
<p><%=strip_brackets(h(map.description)) -%></p>

<p>
    <%- if map.owner -%>Uploaded by <%= link_to(map.owner.login, user_path(map.owner)) -%>.&nbsp;<%-end-%>
    Last modified <%=h time_ago_in_words(map.last_changed) -%> ago.&nbsp;
    <%if map.gcps.hard.size > 0 %><%=pluralize(map.gcps.hard.size, "control point") -%><%else-%>Unrectified<%end-%>.&nbsp;
    <%- if map.layers.count > 0 -%>(In <%=link_to(pluralize(map.layers.count, 'layer'), map_layers_path(map.id)) -%>).&nbsp;<%-  end -%>
    <% if map.depicts_year -%>Depicts: <%= map.depicts_year -%>.&nbsp;<% end -%>
    <% if !map.public? %>Not publicly listed.&nbsp;<% end-%>
</p>

<% if map.tags.count > 0 -%>
  <p>
      Tags:&nbsp;
      <% map.tags.each do | tag | -%>
        <%= link_to tag.name, { :controller=> :maps, :action => :tag, :id => tag.name } %>
      <% end %>
  </p>
<% end -%>

<%# TODO: reactivate save to/remove from my maps %>
<% if false && logged_in? %>
<p>
  <% current_user_maps = current_user.maps %>
  <% if current_user_maps.to_a.include?(map) %>
    <%= link_to('Remove from My Maps',
      destroy_my_map_path(:user_id => current_user, :map_id => map), :method => :post, :confirm => "really remove this map from your list?") -%>
  <% else %>
    <%= link_to('Save to My Maps',
      add_my_map_path(:user_id => current_user, :map_id => map), :method => :post) -%>
  <% end -%>
</p>
<% end -%>

<p>
  <%- if map.source_uri -%>
  Links: <%= link_to 'Source / Biblio Ref',map.source_uri  %>
  <%- end -%>

  <% if !admin_authorized? && map.published? %>
  | Published [<a href="#" title="This map has been published by an admin and no further editing is possible.">?</a>]
  <% end %>

  <% if admin_authorized? %>
    <% if map.status == :warped  %>
      | <%= link_to("Publish",{:controller => "maps", :action => "publish", :id => map, :to => "publish"}, :confirm => "Really publish this map? This will mean that no further editing can be done") -%>
    <% elsif map.published? %>
      | <%= link_to("UnPublish",{:controller => "maps", :action => "publish", :id => map, :to => "unpublish"}, :confirm => "Really un publish this map? This will mean that the map can be edited now") -%>
    <% end %>
  <% end -%>

  <%if map.warped_or_published? %>
  | <%= link_to("Download KML", map_url(:id => map, :format=>:kml)) %>
  <% end %>

  <%# TODO: reactivate map type control %>
  <% if false && admin_authorized? %>
  | <%= render :partial  => 'maps/map_type', :object => @map %>
  <% end %>

  <%# TODO: make this link conditional %>
  | <%= link_to("View Related Maps", {:controller => "maps", :action => "index", :view_related => @map.map_link_nepa}) -%>
</p>


<%# TODO: reactivate addthis controls %>
<%=
#render :partial => 'shared/addthis', :locals => {:title => map.title, :description =>map.description}
%>

<%
# there already is an export tab; do we really need this dropdown/shortcut?
# = render :partial => 'shared/export_window', :locals => {:map => @map}
%>
